a.portfolio-item p{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

header.masthead{
    padding-top: calc(4rem + 72px);
    padding-bottom: 3rem;
}
header.masthead h1{
    font-size: 2.5rem;
}

hr.star-light{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

header.masthead h2{
    font-size: 1.3rem;
}

section{
    padding: 2rem 0;
}

.original-text{
    font-style: italic;
    margin-left: 2rem;
}

p.result{
    border: double;
    border-width: medium;
    border-color: black;
    padding: 1rem;
    text-align: center;
}

span.result{

    font-weight: bold;
    font-size: large;
}

.table{
    text-align: center;
}

form{
    text-align: center;
}

.presentation{
    text-align: justify;
}

.img-gallery{
    display: inline;
    text-align: center;
}