{% extends "template_IA.html" %}

{% block accueil_active %}class="active"{% endblock %}

{% block IA %}
    <section>
            <form action="" method="post">
                <div class="form-group row">
                    <label for="text">Entrez ici du texte en dialecte pour le faire identifier !</label>
                    <textarea name="text" id="text" cols="70" rows="6" class="form-control"></textarea>
                    <div class="alert alert-block alert-danger" style="display:none">
                        <h4>Erreur !</h4>
                        Vous devez remplir ce champ !
                    </div>
                </div>
                <div class="form-group">
                    <p>Sélectionnez un classifieur :</p>
                    <div class="row align-items-start">
                        <div class="col"><input type="radio" name="classifier" id="nb" value="nb" checked="checked"> <label for="nb">Naive Bayes simple (MultinomialNB)</label></div>
                        <div class="col"><input type="radio" name="classifier" value="e1-nb" id="ensemble1-nb"> <label for="ensemble1-nb">Ensemble 1 NB</label></div>
                        <div class="col"><input type="radio" name="classifier" value="e2-nb" id="ensemble2-nb"> <label for="ensemble2-nb">Ensemble 2 NB</label></div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col"><input type="radio" name="classifier" value="svm" id="single-svm"> <label for="single-svm">SVM simple (LinearSVC)</label></div>
                        <div class="col"><input type="radio" name="classifier" value="e1-svm" id="ensemble1-svm"> <label for="ensemble1-svm">Ensemble 1 SVM</label></div>
                        <div class="col"><input type="radio" name="classifier" value="e2-svm" id="ensemble2-svm"> <label for="ensemble2-svm">Ensemble 2 SVM</label></div>
                    </div>
                </div>
                <button class="btn btn-primary pull-right" type="submit">Cliquez ici pour identifier ce dialecte !</button>
            </form>
    </section>
{% endblock %}

{% block footer %}
    {{ super() }}
    <script> {# Ne fonctionne pas... #}
      $(function(){
        $("form").on("submit", function() {
          if($("textarea").val().length < 1) {
            $("div.form-group").addClass("has-error");
            {#$("div.alert").show("slow").delay(10000).hide("slow");#}
            $("div.alert").show("slow");
            return false;
          }
        });
      });
    </script>
{% endblock %}