{% extends "main_template.html" %}

{% block corps %}
    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <a class="portfolio-item d-block mx-auto" href="/identification/">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
              <p>Tester l'IA</p>
              <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/ai.png') }}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-6">
          <a class="portfolio-item d-block mx-auto" href="/projet/">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
              <p>Découvrir le projet</p>
              <img class="img-fluid" src="{{ url_for('static', filename='img/portfolio/project.png') }}" alt="">
          </a>
        </div>
      </div>
    </div>
    </section>
{% endblock %}