<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block header %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="IA - Identification des dialectes de l'allemand">
            <meta name="author" content="Oriane Nédey">

            <title>{% block titre %}AI - German Dialect Identification{% endblock %}</title>

{#          <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
            <!-- Bootstrap core CSS -->
            <link href="{{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

            <!-- Custom fonts for this template -->
            <link href="{{ url_for('static', filename="vendor/fontawesome-free/css/all.min.css") }}" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
            <link href=https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

            <!-- Plugin CSS -->
            <link href="{{ url_for('static', filename="vendor/magnific-popup/magnific-popup.css") }}" rel="stylesheet" type="text/css">

            <!-- Custom styles for this template -->
            <link href="{{ url_for('static', filename="css/freelancer.min.css") }}" rel="stylesheet">

            <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} >
        {% endblock %}
    </head>

    <body id="page-top">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="/">AI - German Dialect Identification</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/identification/">L'IA</a>
              </li>
              <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/projet/">Le projet</a>
              </li>
            </ul>
          </div>
        </div>
        </nav>

        <!-- Header -->
        <header class="masthead bg-primary text-white text-center">
            <div class="container">
                <h1 class="text-uppercase mb-0">Projet de master - Oriane Nédey</h1>
                <hr class="star-light">
                <h2 class="font-weight-light mb-0">Identification automatique des variétés linguistiques régionales de l’allemand
                    <br>(Automated identification of regional linguistic varieties of German)</h2>
            </div>
        </header>

        <!-- Contenu dynamique -->

        <div class="container">
            {% block corps %}
            {% endblock %}
        </div>

        {% block footer %}
            <!-- Footer -->
            <div class="copyright py-4 text-center text-white">
            <div class="container">
              <small>Oriane Nédey | Master 2 - Technologies des Langues | Université de Strasbourg</small>
                <br><small>D'après le thème Freelancer de <a href="http://startbootstrap.com">Bootstrap</a></small>
            </div>
            </div>

            <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
            <div class="scroll-to-top d-lg-none position-fixed ">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
              <i class="fa fa-chevron-up"></i>
            </a>
            </div>
        {% endblock %}

        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static', filename="vendor/jquery/jquery.min.js") }}"></script>
        <script src="{{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>

        <!-- Plugin JavaScript -->
        <script src="{{ url_for('static', filename="vendor/jquery-easing/jquery.easing.min.js") }}"></script>
        <script src="{{ url_for('static', filename="vendor/magnific-popup/jquery.magnific-popup.min.js") }}"></script>

        <!-- Custom scripts for this template -->
        <script src="{{ url_for('static', filename="js/freelancer.min.js") }}"></script>
    </body>
</html>