{% extends "main_template.html" %}

{% block projet_active %}class="active"{% endblock %}

{% block corps %}
    <section class="row presentation">
        <div class="col-lg-12">
            <p>Dans le cadre de mon projet de mémoire, j'ai été amenée à créer un outil d'identification automatique des variétés linguistiques régionales de l'allemand, plus communément appelées "dialectes". Il s'agit d'un outil de Traitement Automatique des Langues utilisant des méthodes d'apprentissage automatique (Machine Learning) à partir d'un corpus d'apprentissage.</p>

            <!--Présentation du corpus-->
            <p>Le corpus d'apprentissage a été constitué à partir de textes littéraires et non-littéraires, provenant des trois grandes familles de dialectes de l'allemand, et plus précisément de six dialectes plus localisés : </p>
            <ul>
                <li>le berlinois (<em>Berlinerisch</em>) et le bas-allemand occidental (<em>Plattdüütsch</em>) pour la famille du bas-allemand - au nord de l'Allemagne -,</li>
                <li>le Kölsch et le saxon (<em>Sächsisch</em>) pour la famille du moyen-allemand - au centre de l'Allemagne -,</li>
                <li>l'alémanique (<em>Alemannisch</em>) et le bavarois (<em>Bairisch</em>) pour la famille de l'allemand supérieur - au sud de l'Allemagne ainsi qu'en France, en Suisse et au nord de l'Italie.</li>
            </ul>

            <p class="img-gallery">
                <img src="{{ url_for('static', filename="img/presentation/stats-corpus-familles.png") }}" alt="Nombre de phrases du corpus par famille de dialectes" height="350">
                <img src="{{ url_for('static', filename="img/presentation/stats-corpus-dialectes.png") }}" alt="Nombre de phrases du corpus par dialecte" height="350">
            </p>

            <!--Présentation des modèles-->
            <p>La programmation des modèles a été réalisée avec le language Python et ses librairies très pratiques pour le TAL et le Machine Learning (notamment NLTK, pandas et scikit-learn). Le code du projet est disponible sur GitLab : <a href="https://gitlab.com/OrianeN/germandialectclassifier/tree/master">Accéder au code source du projet</a>.</p>

            <p>A partir de la littérature scientifique, nous avons retenu deux estimateurs de base pour entrainer nos modèles :</p>
            <ul>
                <li><em>MultinomialNB</em> - un estimateur utilisant une version multinomiale de Naive Bayes</li>
                <li><em>LinearSVC</em> - un estimateur utilisant la méthode des machines à vecteurs de support (SVM) avec un kernel linéaire</li>
            </ul>

            <p>Nous avons développé plusieurs classifieurs avec différentes techniques :</p>
            <ul>
                <li>Classifieurs simples : un seul classifieur est entrainé</li>
                <li>Ensemble 1 : regroupe 3 classifieurs intermédiaires ; le premier considère comme traits d’apprentissage les n-grammes de caractères et les n-grammes de mots, tandis que le deuxième ne considère que les n-grammes de mots, et le troisième à son tour uniquement les n-grammes de caractères.</li>
                <li>Ensemble 2 : regroupe 12 classifieurs intermédiaires. Les quatre premiers classifieurs intermédiaires ne considèrent que les n-grammes de mots, sachant que <em>n</em> ne prend pour chacun qu’une seule valeur, de 1 à 4. Les huit autres classifieurs intérmédiaires considèrent à leur tour uniquement les n-grammes de caractères à l’intérieur des mots, <em>n</em> ne prenant toujours qu’une seule valeur, de 1 à 8.</li>
            </ul>
            <p>L'identification des dialectes dans les textes se fait en deux étapes, avec une identification d'abord de la famille de dialecte, puis du dialecte plus localisé. Pour ce faire, nous avons entrainé à chaque fois deux classifieurs, ce qui donne 12 classifieurs au total pour 6 paires de classifieurs implémentés dans
                <a href="/identification">l'IA</a> sur ce site :</p>
            <table class="table table-bordered">
                <tr>
                    <th>Technique / Estimateur</th>
                    <th>Naive Bayes</th>
                    <th>SVM</th>
                </tr>
                <tr>
                    <th>Simple</th>
                    <td>NB simple</td>
                    <td>SVM simple</td>
                </tr>
                <tr>
                    <th>Ensemble 1</th>
                    <td>Ensemble 1 NB</td>
                    <td>Ensemble 1 SVM</td>
                </tr>
                <tr>
                    <th>Ensemble 2</th>
                    <td>Ensemble 2 NB</td>
                    <td>Ensemble 2 SVM</td>
                </tr>
            </table>

            <!--Présentation des performances -->
            <p>Ces modèles ont été optimisés, de manière à trouver les meilleures combinaisons de paramètres pour le prétraitement des données, et la reconnaissance des données non-pertinentes (lorsque l'IA indique "unknown"). Les performances globales des modèles sont les suivantes (les F-score sont calculés avec la méthode dite "micro") :</p>
            <figure class="img-gallery">
                <figcaption>Performances des classifieurs simples entrainés avec Naive Bayes. F-score pour les familles de dialectes : 0,89 ; F-score pour les dialectes : 0,88</figcaption>
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-NB-fam.png") }}" alt="Matrice de confusion - NB simple - familles" height="300">
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-NB-dial.png") }}" alt="Matrice de confusion - SVM simple - dialectes" height="300">
            </figure>
            <figure class="img-gallery">
                <figcaption>Performances des classifieurs simples entrainés avec SVM. F-score pour les familles de dialectes : 0,93 ; F-score pour les dialectes : 0,91</figcaption>
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-SVM-fam.png") }}" alt="Matrice de confusion - SVM simple - familles" height="300">
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-SVM-dial.png") }}" alt="Matrice de confusion - SVM simple - dialectes" height="300">
            </figure>
            <figure class="img-gallery">
                <figcaption>Performances des classifieurs Ensemble 1 entrainés avec Naive Bayes. F-score pour les familles de dialectes : 0,89 ; F-score pour les dialectes : 0,88</figcaption>
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-E1NB-fam.png") }}" alt="Matrice de confusion - E1 NB - familles" height="300">
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-E1NB-dial.png") }}" alt="Matrice de confusion - E1 NB - dialectes" height="300">
            </figure>
            <figure class="img-gallery">
                <figcaption>Performances des classifieurs Ensemble 1 entrainés avec SVM. F-score pour les familles de dialectes : 0,93 ; F-score pour les dialectes : 0,92</figcaption>
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-E1SVM-fam.png") }}" alt="Matrice de confusion - E1 SVM - familles" height="300">
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-E1SVM-dial.png") }}" alt="Matrice de confusion - E1 SVM - dialectes" height="300">
            </figure>
            <figure class="img-gallery">
                <figcaption>Performances des classifieurs Ensemble 2 entrainés avec Naive Bayes. F-score pour les familles de dialectes : 0,89 ; F-score pour les dialectes : 0,88</figcaption>
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-E2NB-fam.png") }}" alt="Matrice de confusion - E2 NB - familles" height="300">
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-E2NB-dial.png") }}" alt="Matrice de confusion - E2 NB - dialectes" height="300">
            </figure>
            <figure class="img-gallery">
                <figcaption>Performances des classifieurs Ensemble 2 entrainés avec SVM. F-score pour les familles de dialectes : 0,95 ; F-score pour les dialectes : 0,94</figcaption>
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-E2SVM-fam.png") }}" alt="Matrice de confusion - E2 SVM - familles" height="300">
                <img src="{{ url_for('static', filename="img/presentation/confusion-matrix-E2SVM-dial.png") }}" alt="Matrice de confusion - E2 SVM - dialectes" height="300">
            </figure>

            <p>D'après notre étude, le meilleur classifieur semble être l'<strong>ensemble 2</strong>, entrainé avec l'estimateur <em><strong>LinearSVC</strong></em>.
                <br>On vous laisse faire vos propres expériences avec notre outil web !</p>
            <a href="/identification"><button class="btn btn-primary pull-right">Tester l'IA</button></a>

        </div>
    </section>
{% endblock %}