{% extends "template_IA.html" %}

{% block accueil_active %}class="active"{% endblock %}

{% block IA %}
    <h1>Résultats de l'identification (code classifieur : {{ code_clf }})</h1>
    <p>Merci d'avoir essayé notre IA pour identifier les dialectes de l'allemand !</p>
    <p>Pour rappel, voici le texte que vous avez soumis à notre IA :</p>
    <div class="original-text">
        <p>{{ text }}</p>
    </div>
    <div class="results">
        <div class="family">
            <p class="result">Famille de dialectes identifiée : <br><span class="result">{{ result_family }}</span></p>
            {% if confidence_f < 100 %}
                <p>Score de probabilité : {{ confidence_f }} %</p>
                <table class="table table-bordered table-striped">
                    <caption>Statistiques</caption>  {# TODO Afficher au dessus du tableau #}
                    <thead>
                        <tr>
                            <th>Nom du label</th>
                            <th>Nombre de phrases identifiées</th>
                            <th>Pourcentage du texte</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, tuple in stats_family.items() %}
                            <tr {% if key == result_family %}class="success"{% endif %}>
                                <td>{{ tuple[0] }}</td>
                                <td>{{ tuple[1] }}</td>
                                <td>{{ "%.2f" | format(tuple[2]) }} %</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="dialect">
            <p class="result">Dialecte identifié : <br><span class="result">{{ result_dialect }}</span></p>
            {% if confidence_d < 100 %}
                <p>Score de probabilité : {{ confidence_d }} %</p>
                <table class="table table-bordered table-striped stats-table">
                    <caption>Statistiques</caption>  {# TODO Afficher au dessus du tableau #}
                    <thead>
                        <tr>
                            <th>Nom du label</th>
                            <th>Nombre de phrases identifiées</th>
                            <th>Pourcentage du texte</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, tuple in stats_dialect.items() %}
                            <tr>
                                <td>{{ tuple[0] }}</td>
                                <td>{{ tuple[1] }}</td>
                                <td>{{ "%.2f" | format(tuple[2]) }} %</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
    <p>N'hésitez pas à réessayer en cliquant  <a href="/identification">ici</a></p>
{% endblock %}